<div id=searchbox>
<form id="searchform" action=javascript:wordle_func()>
<input name=found type="text" maxlength="21" autofocus placeholder="found letters...">
<br>
<input name=exclude type="text" maxlength="21" autofocus placeholder="letters to exclude...">
<br>
<input name="letter0" type="text" maxlength="1" autofocus placeholder="letter 1...">
<br>
<input name="letter1" type="text" maxlength="1" autofocus placeholder="letter 2...">
<br>
<input name="letter2" type="text" maxlength="1" autofocus placeholder="letter 3...">
<br>
<input name="letter3" type="text" maxlength="1" autofocus placeholder="letter 4...">
<br>
<input name="letter4" type="text" maxlength="1" autofocus placeholder="letter 5...">
<br>
<input type="submit" value="submit">
</form>
</div>
<br>
<div id=loader_temp>
</div>
<div id=content class=certs>
</div>
<script src="/scripts/wordle.js"></script>
